<h1>My Tactics</h1>

<%= render partial: "shared/filter_index_mine", locals: { created_objects: 'created_tactics', object_name: 'Tactics', path_name: 'tactics' } %>

<%= render partial: "shared/index_list", locals: { objects: @tactics } %>