<h1>My Prompt Tactics</h1>

<%= render partial: "shared/filter_index_mine_via_prompt", locals: { created_objects: 'created_tactics', object_name: 'Tactics', path_name: 'tactics' } %>

<%= render partial: "shared/index_list", locals: { objects: @tactics }  %>