<p><small>Filter: <%= link_to "All #{object_name}", public_send("#{path_name.downcase}_path") %>
  <% if current_user.send(created_objects).any? %>
   |  <%= link_to "My #{object_name}", public_send("user_#{path_name.downcase}_path", current_user) %>
  <% end %>
</small></p>