<p><small>
  <%= link_to "Create new #{object_name.delete_suffix('s')}", public_send("new_#{path_name.delete_suffix('s')}_path") %> | 
  <% if current_user.send(created_objects).any? %>
    <%= link_to "My #{object_name}", public_send("user_#{path_name.downcase}_path", current_user) %>
  <% end %>
  <% if current_user.send(created_objects).any? && current_user.created_prompts.any? %>
   | 
  <% end %>
  <% if current_user.created_prompts.any? %>
    <%= link_to "My Prompt #{object_name}", public_send("my_prompt_#{path_name.downcase}_path") %>
  <% end %>
</small></p>