<h1>My Characters</h1>

<%= render partial: "shared/filter_index_mine", locals: { created_objects: 'created_characters', object_name: 'Characters', path_name: 'characters' } %>

<%= render partial: "index_list" %>