<h1>Characters</h1>
<% if current_user.created_characters.length > 0 %>
  <p><small>Filter: <%= link_to "My Created Characters", chaarcter_index_mine_path(current_user) %></small></p>
<% end %>

<%= render partial: "index_list", locals: { character: @character } %>