<h1>Welcome to <b>promp_</b>!</h1>
<br>
<p class="lead">Need a dynamic drawing prompt? A unique story idea to springboard from? <b>promp_</b> was designed to brainstorm creative outlet prompts for you, and will happily add your input to its databanks to create even more crazy prompts!</p>
<div class="row">
  <div class="col-8 offset-2">
    <div class="homepage-recipe">
      <h3>How to Bake a Prompt</h3>
      <div class="card">
        <div class="card-header">Ingredients</div>
        <ul class="list-group list-group-flush lead">
          <li class="list-group-item"><a href="/characters">Characters</a>: The 'who?' - the primary actor in your scene.</li>
          <li class="list-group-item"><a href="/tactics">Tactics</a>: The 'how?' - the means the character uses.</li>
          <li class="list-group-item"><a href="/goals">Goals</a>: The 'what?' - the immediate reason for character action.</li>
          <li class="list-group-item"><a href="/quests">Quests</a>: The 'why?' - the long-term reason for character action.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<p class="lead">Combine all ingredients and mix well! What you end up with is a mad-libs style creative prompt that you're sure to love. Or maybe not. Who cares! Just generate a new prompt, remix your current prompt, or add new ingredients for the generator to work with. And have fun!</p>