// Place all the styles related to the Tactics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$taupe: #9D8189;
$dark-pink: #F4ACB7;
$pink: #FFCAD4;
$peach: #FFD9CD;
$pale-green: #D8E2DC;
$brown: #302121;